h1 {

    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

#lista{

    background-color: gray;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;

}

p{

    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
}
.geral-color{

    background-color: green ;
}

body{

    font-size: 16px;
}
li{
    background-color: black;
}